/* .pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;} */

.page-link {
  /* border: solid 2px blue; */
  width: fit-content;
  border-radius: 15px;
}